@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');  /** Poppins Font **/
:root {
    --black: #111;
    --white: #fff;
    --green: #111;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  
  
  .author-archive {
    padding: 1.5rem;
    margin-bottom: auto;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: auto
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
    cursor: pointer;
  }
  
  h1 a:hover {
    background: var(--green);
    color: var(--white);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: var(--green);
    color: var(--white);
  }
  
  
  /* FILTERED ELEMENTS (POSTS)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .posts .post {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .posts .post-title {
    font-size: 1.3rem;
  }
  
  .posts .post-title:hover {
    text-decoration: underline;
  }
  
  .posts figcaption {
    padding: 1rem;
  }
  
  .posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .posts .post-categories * {
    display: inline-block;
  }
  
  .posts .post-categories li {
    margin-bottom: 0.2rem;
  }
  
  .posts .post-categories a {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
  }
  
  .posts .post-categories a:hover {
    background: var(--green);
    color: var(--white);
  }
  
  
  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="All"]:checked ~ .filters [for="All"],
  [value="CSS"]:checked ~ .filters [for="CSS"],
  [value="Mobiteli"]:checked ~ .filters [for="Mobiteli"],
  [value="Sve-za-dom"]:checked ~ .filters [for="Sve-za-dom"],
  [value="WordPress"]:checked ~ .filters [for="WordPress"],
  [value="Slider"]:checked ~ .filters [for="Slider"],
  [value="Ostalo"]:checked ~ .filters [for="Ostalo"] {
    background: var(--green);
    color: var(--white);
  }
  
  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }
 
  [value="CSS"]:checked ~ .posts .post:not([data-category~="CSS"]),
  [value="Mobiteli"]:checked ~ .posts .post:not([data-category~="Mobiteli"]),
  [value="Sve-za-dom"]:checked ~ .posts .post:not([data-category~="Sve-za-dom"]),
  [value="WordPress"]:checked ~ .posts .post:not([data-category~="WordPress"]),
  [value="Slider"]:checked ~ .posts .post:not([data-category~="Slider"]),
  [value="Ostalo"]:checked ~ .posts .post:not([data-category~="Ostalo"]) {
    display: none;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  footer {
    font-size: 1rem;
    padding: 0 1.5rem;
    text-align: right;
  }
  
  footer span {
    color: #e31b23;
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 900px) {
    .posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 650px) {
    html {
      font-size: 14px;
    }
  
    .posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .row{
    display: flex;
    height: 100% !important;
    min-height: 100vh;

}

.col-mid{

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 60%;
    min-height: 100vh;

}
.col{

    background-image: url("logomod.png");
    background-size: 1700px;
    height: auto;
    min-height: 100vh;
    
}

@media (max-width: 1000px) {

    .col-mid{width: 100%;
    
    position: absolute;}
    .col{width: 0%;
    background: none;}
    
}

.rez{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  font-size: 5vh;
}